@use "swiper/css/bundle";

@use "../../public/assets/css/plugins/bootstrap.min.css";
@use "../../public/assets/css/plugins/fontawesome.min.css";
@use "../../public/assets/css/plugins/lightgallery.min.css";

@use "../../public/assets/sass/style.scss" as *;
