@use "../default/color_variable" as *;

/*--------------------------------------------------------------
  28. Services
----------------------------------------------------------------*/

.cs_creative_protfolio.cs_card_style_change {
  .cs_card.cs_style_1 {
    align-items: flex-start;
    .cs_card_link_wrap {
      position: static;
      transform: none;
      margin-left: auto;
      padding-top: 45px;
    }
  }
  .cs_card.cs_style_1.cs_color_1 {
    .cs_card_right {
      padding: 0;
      .cs_card_right_in {
        .cs_card_title {
          color: var(--common-color-black);
          margin: 0px;
          a > span {
            font-size: 16px;
          }
        }
      }
    }
    &:hover > .cs_card_link_wrap {
      .cs_card_link {
        color: $accent;
        span {
          &:first-child {
            transform: translate(50px, -50px);
          }
          &:last-child {
            transform: translate(50px, -50px) scale(1);
          }
        }
        transform: rotate(0deg);
      }
    }
    .cs_card_link_wrap {
      color: var(--common-color-black);
      .cs_card_link {
        transform: rotate(45deg);
      }
    }
  }
  .cs_hr_design {
    margin: 30px 0px;
    border-color: var(--common-color-black);
    &.cs_color_1 {
      border: 0.5px solid var(--body-color);
    }
  }
}

.cs_card_1_list {
  .cs_card.cs_style_1 {
    align-items: flex-start;
    .cs_card_link_wrap {
      position: static;
      transform: none;
      margin-left: auto;
      padding-top: 45px;
    }
  }
}

.cs_service_exploring {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cs_section_subtitle {
    font-size: 16px;
  }
  .cs_service_exploring_1 {
    .cs_color_1 {
      li {
        h3 {
          color: var(--primary-color);
          opacity: 50%;
          display: inline;
          font-size: 25px;
          &:hover {
            color: #2c8c86;
            opacity: 100%;
          }
        }
        a:hover h3 {
          color: #2c8c86;
          opacity: 100%;
        }
      }
    }
  }
  .cs_service_exploring_2 {
    .cs_service_exploring_img {
      width: 503px;
      position: relative;
      .cs_img {
        width: 100%;
        height: 100%;
      }
      .cs_service_exploring_img_text {
        position: absolute;
        bottom: 0px;
        margin-left: -150px;
        margin-bottom: -60px;
        img {
          margin-bottom: 20px;
        }
        width: 420px;
        padding: 45px;
        background-color: #2c8c86;
        &.cs_color_1 {
          color: $border;
        }
      }
    }
  }
}

.cs_service_details {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  .cs_service_details_img {
    flex-basis: 57%;
  }
  .cs_service_details_text {
    flex-basis: 40%;
    .anim_text_upanddowns {
      margin-top: 40px;
    }
  }
  &.cs_type_2 {
    gap: 7%;
    .cs_service_details_img {
      flex-basis: 53%;
    }
  }
}

@media screen and (max-width: 991px) {
  .cs_service_exploring {
    flex-wrap: wrap;
    transition: all 2s ease-in-out;
    .cs_service_exploring_2 {
      .cs_service_exploring_img {
        width: 85vw;
        height: 500px;
        overflow: hidden;
        .cs_service_exploring_img_text {
          width: 100%;
          margin-left: 0px;
          margin-bottom: 0px;
          transition: height 2s ease-in-out;
        }
      }
    }
  }
  .cs_service_details {
    .cs_service_details_img {
      flex-basis: 100%;
    }
    .cs_service_details_text {
      flex-basis: 100%;
      margin-top: 40px;
    }
    &.cs_type_2 {
      .cs_service_details_img {
        flex-basis: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .cs_service_exploring {
    .cs_service_exploring_2 {
      .cs_service_exploring_img {
        width: 100%;
      }
    }
  }
}
